<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ValidAge_AgeVerificationPopup::ValidAge_configuration" title="ValidAge" sortOrder="1">
                    <resource id="ValidAge_AgeVerificationPopup::AgeVerificationPopup_configuration" title="ValidAge Popup Setting" sortOrder="1" />
                </resource>                    
            </resource>
        </resources>
    </acl>
</config>