<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ValidAge_AgeVerificationPopup::validage" title="ValidAge" module="ValidAge_AgeVerificationPopup" sortOrder="40" resource="ValidAge_AgeVerificationPopup::validage"/>
        <add id="ValidAge_AgeVerificationPopup::validage_ageverification" title="Age Verification Popup" module="ValidAge_AgeVerificationPopup" sortOrder="20"   parent="ValidAge_AgeVerificationPopup::validage" resource="ValidAge_AgeVerificationPopup::validage_ageverification"/>
        <add id="ValidAge_AgeVerificationPopup::validage_Ageconfiguration" title="Popup Configuration" module="ValidAge_AgeVerificationPopup" sortOrder="99" parent="ValidAge_AgeVerificationPopup::validage_ageverification"  resource="ValidAge_AgeVerificationPopup::validage_configuration"  action="adminhtml/system_config/edit/section/ageverificationPopup_tab"/>
    </menu>
</config>